*,
*::before,
*::after {
    box-sizing: border-box reset;
}

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16x;
    line-height-step: 1.5;
    color: #222;
    background-color: #f4f7f6;
}

header {

}

h1,
h2,
h3 {
    margin-top: 0;
}

header {
    padding: 32px 16px;
    text-align: center;
    color: #fff;
    background-color: #0ba184;
}

header h1 {
    margin-bottom: 8px;
    font-size: 40px;
}

header p {
    margin: 0 0 16px;
    font-size: 18px;
}
